//- Extiende el layout principal
extends layout

//- Define el bloque de contenido
block content
  h1 Agregar Alumno

  //- Formulario para agregar un alumno
  form(action="/alumnos", method="POST")
    label(for="nombre") Nombre:
    input(type="text", name="nombre", id="nombre", required)
    br

    label(for="curso") Año y turno:
    select(name="curso", id="curso", required)
      option(value="1A") 1A - Mañana 
      option(value="1B") 1B - Tarde
      option(value="2A") 2A - Mañana
      option(value="2B") 2B - Tarde
      option(value="3A") 3A - Mañana
      option(value="3B") 3B - Tarde
      option(value="4A") 4A - Mañana
      option(value="4B") 4B - Tarde
      option(value="5A") 5A - Mañana
      option(value="5B") 5B - Tarde
    br

    
    label(for="padre_madre") Nombre del Padre o Madre:
    input(type="text", name="padre_madre", id="padre_madre", required)
    br

    label(for="contraseña") Contraseña:
    input(type="password", name="contraseña", id="contraseña", required)
    br

    button(type="submit") Agregar Alumno
