//- Extiende el layout principal
extends layout

//- Define el bloque de contenido
block content
  h1 Login
  //- Formulario para Login
  form(class="form-login" action="/", method="POST")
    label(for="legajo") Legajo:
    input(type="text", name="legajo", id="legajo", required)
    br
    label(for="pass") Contraseña:
    input(type="password", name="pass", id="pass", required)
    br
    button(type="submit") Ingresar
